<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.css" media="screen">
    <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css">
    
    <title>SMART CLASS</title>
</head>
<body>
    <h1>ADMINISTRADOR</h1>
        <div class="container-md">
            <div class="row">
                <div class="col">
                    <h2>Carga masiva de estudiantes</h2>
                </div>
            <form action="/cargaE" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="col">
                    <input class="form-control" type="file" id="formFile" name="CargaEstu">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-secondary">Enviar</button>
                </div>
            </form>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Carga masiva de cursos de pensum</h2>
                </div>
                <form action="/cargaA" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="col">
                    <input class="form-control" type="file" id="formFile" name="CargaApun">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-secondary">Enviar</button>
                </div>
            </form>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Carga masiva de cursos de estudiante</h2>
                </div>
                <form action="/cargaC" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="col">
                    <input class="form-control" type="file" id="formFile" name="CargaCursos">
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-secondary">Enviar</button>
                </div>
            </form>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Carga masiva de los apuntes de estudiantes</h2>
                </div>
                <div class="col">
                    <input class="form-control" type="file" id="formFile" name="CargaApuntes">
                </div>
            </div>
            <div class="row">
                <form action="/cargaC" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="col">
                    <h2>Reporte de todos los apuntes de estudiantes</h2>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-secondary">Ver</button>
                </div>
                </form>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Reporte de todos los estudiantes registrados</h2>
                </div>
                <div class="col">

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Reporte del grafo de prerrequisitos de los cursos del pensum</h2>
                </div>
                <div class="col">

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Reporte del encriptado arbol de merkle</h2>
                </div>
                <div class="col">

                </div>
            </div>
                    
        </div>
        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>    
    {% endif %}
</body>
</html>