<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.css" media="screen">
    <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css">
    
    <title>SMART CLASS</title>
</head>
<body>
    <h1>VENTANA DE USUARIO:</h1>
        <div class="container-md">
            <div class="row">
                <div class="col">
                    <h1>Usuario: {{Nombre}}</h1>
                    </div>
                <div class="col"></div>
            </div>

            <div class="row">
            </div>
            <div class="d-grid gap-2">
                <div class="row">
                    <form action="/apuntes/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                    <button class="btn btn-lg btn-primary" type="submit">Realizar Apuntes</button>
                    </form>
                    <br>
                </div>
                <div class="row">
                    <form action="/lstapuntes/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                    <button class="btn btn-lg btn-primary" type="submit">Ver Apuntes Realizados</button>
                    </form>
                    <br>
                </div>
                <div class="row">
                    <form action="/reportePreE" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                    <button class="btn btn-lg btn-primary" type="submit">Reporte de cursos asignados</button>
                    </form>
                    <br>
                </div>
                <div class="row">
                    <h1>Asignacion</h1><br>
                    <h2>Seleccionar codigo de curso a asignar</h2><br>
                    <form action="/asignar" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <br>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ingresar codigo del curso" name = "codigo">
                        <br>
                        <button type="submit" class="btn btn-secondary">Asignar</button>
                        </form>
                    <br>
                </div>
            </div>
            <form action="/out" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Logout</button>
        </form>
        </div>
        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>    
    {% endif %}
</body>
</html>