<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.css" media="screen">
    <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css">
    
    <title>SMART CLASS</title>
</head>
<body>
    <h1>ADMINISTRADORA</h1>
    <form action="/adminis/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container-md">
            <div class="row">
                <div class="col">
                    <h1>Usuarios</h1>
                    </div>
                <div class="col"></div>
            </div>

            
            <div class="row">
            </div>
        </div>
    </form>
</body>
</html>